## while and for loop

In [5]:
i=1

while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [7]:
x =int(input('Enter the number'))
i=1
while i<=10:
    print(i*x)
    i=i+1

Enter the number4
4
8
12
16
20
24
28
32
36
40

In [10]:
i=0
while i<4:
    print("Hello World")
    i=i+1
else:
    print("End")

Hello World
Hello World
Hello World
Hello World
End

## For loop

In [13]:
fruit =('apple','banana','cherry')
for i in fruit:
    print(i)

apple
banana
cherry

In [16]:
for i in 'apple':
    print(i,end=' ')

a p p l e

In [17]:
for i in 'apple':
    print(i)

a
p
p
l
e

## Range for number

In [19]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [30]:
n=int(input('enter the number'))
for i in range(1,11):
    print(n,'*',i ,'=',i*n)

enter the number56
56 * 1 = 56
56 * 2 = 112
56 * 3 = 168
56 * 4 = 224
56 * 5 = 280
56 * 6 = 336
56 * 7 = 392
56 * 8 = 448
56 * 9 = 504
56 * 10 = 560

In [32]:
for i in range(2,24,5):
    print(i)

2
7
12
17
22

In [70]:
for i in "python":
    print(i)

p
y
t
h
o
n

In [42]:
number =(1,2,3,4,5,6,7)
odd_count = 0
even_count = 0

for i in number:
    
    if i%2 == 0:
        print(i,'Even number')
        even_count+=1
    else:
        print(i,'Odd number')
        odd_count+=1
print('totoal even number',even_count)
print('totoal even number',odd_count)

1 Odd number
2 Even number
3 Odd number
4 Even number
5 Odd number
6 Even number
7 Odd number
totoal even number 3
totoal even number 4

In [47]:
i=1
odd_count = 0
even_count = 0
while i<=8:
    
    if i%2 == 0:
        print(i,'Even number')
        even_count+=1
    else:
        print(i,'Odd number')
        odd_count+=1
    i+=1
print('totoal even number',even_count)
print('totoal even number',odd_count)

1 Odd number
2 Even number
3 Odd number
4 Even number
5 Odd number
6 Even number
7 Odd number
8 Even number
totoal even number 4
totoal even number 4

## Number and chars Resevre

In [69]:

word = input('Enter the word')
for char in range(len(word) -1, -1, -1):
    print(word[char],end=" ")

Enter the word34567
7 6 5 4 3

## Break and Contiune

In [49]:
for i in range (1,10):
    if i == 7:
        print('We found it',i)
        break
    print(i)

1
2
3
4
5
6
We found it 7

In [52]:
for i in range(2,9):
    print(i)
    if i==5:
        continue

2
3
4
5
6
7
8

In [55]:
for i in range(2,9):
    if i==5:
        print(i)
        continue

5