## Variables & Operators in python

In [2]:
## Creating a variable

In [3]:
x = 5
y = "apple"
print(x)
print(y)

5
apple

In [4]:
## Many values to multipe variable

In [5]:
x , y , z ='apple' , 'banana','pineapple'
print(x)
print(y)
print(z)

apple
banana
pineapple

In [6]:
x = y = z = 'Orange'
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [7]:
x = 'python'
y = 'is'
z = 'awesome'
print(x , y, z)

python is awesome

In [8]:
## Data type in python

In [10]:
x = 2
print(x)
print(type(x))

2
<class 'int'>

In [11]:
y = 2.3
print(y)
print(type(y))

2.3
<class 'float'>

In [12]:
x = 'fahad'
print(x)
print(type(x))

fahad
<class 'str'>

In [18]:
q = 2+3j
type(q)

complex

In [13]:
a = [1,2,3,4,5]
type(a)

list

In [19]:
b = (1,2,3,4,5)
type(b)

tuple

In [20]:
x = {1,2,3,4}
type(x)

set

In [23]:
x= {'a':1,'b':2}
type(x)

dict

In [24]:
%whos

Variable   Type       Data/Info
-------------------------------
a          list       n=5
b          tuple      n=5
q          complex    (2+3j)
x          dict       n=2
y          float      2.3
z          str        awesome

## Operation in Python

In [26]:
a = 23
b = 24
print(a+b)

47

In [27]:
a = 2.5
b = 5
print(a+b)

7.5

In [28]:
a = 3+5j
b = 2
print(a+b)

(5+5j)

In [31]:
a = 'Hello'
b = 'welcome'
print(a +' '+ b)

Hello welcome

## Subtraction

In [34]:
a = 34
b = 45
print(a-b)

-11

## Mutiplcation

In [35]:
a = 23
b = 23
print(a*b)

529

## Divison

In [36]:
a = 23
b = 34
print(a/b)

0.6764705882352942

## Modulous

In [38]:
a = 45
b = 56
print(a%b)

45

## Exponent

In [41]:
a = 3
print(a ** 4)

81