## DAY 11

Tntro of Sets

Sets are used ito store mutiple itmes in a single variable 
Set is a collection which is unordered unchange able and unindexed

In [1]:
## Creating Set

a = {'apple','ball','cat','dog'}
print(a)
print(type(a))

{'apple', 'dog', 'ball', 'cat'}
<class 'set'>

In [2]:
##to check set is ordered

print(a[0])

TypeError: 'set' object is not subscriptable

In [3]:
## check Set allow Duplicate values 
b= {'apple','ball','cat','dog','apple','ball','cat','dog'}
print(b)

{'apple', 'dog', 'ball', 'cat'}

In [4]:
## Get len of the Set 

print (len(a))
print (len(b))

4
4

In [5]:
## SET Construct

x=set((1,2,3,4))
print (x)

{1, 2, 3, 4}

In [6]:
## Creating the Empty Set

a=set()
print (type(a))
print(a)
b={}
print (type(b))
print(b)

<class 'set'>
set()
<class 'dict'>
{}

In [7]:
## Checking if items is present in SET

a={'code','data','python'}
print('code' in a)
print ('ok' in a)

True
False

In [8]:
## Adding the values in Set 

a = {'apple','ball','cat','dog'}
a.add(100)
print (a)

{100, 'dog', 'ball', 'cat', 'apple'}

In [15]:
## update the values in Set

a= {'a','b','c','d'}
b={1,2,3,4}

a.update(b)
print(a)

{1, 2, 3, 'a', 4, 'b', 'd', 'c'}

In [18]:
##Removing the items in SET

a = {'apple','ball','cat','dog'}
a.remove('dog')
print(a)

{'apple', 'ball', 'cat'}

In [19]:
##POP function is used to remove any items in SET

a = {'apple','ball','cat','dog'}
a.pop()
print(a)

{'dog', 'ball', 'cat'}

In [21]:
## Clear function is set is used to delete the items in set

a = {'apple','ball','cat','dog'}
a.clear()
print(a)

set()

In [24]:
## Joining the set / Update function is same to add the two set
## Union fucntion is used it 

a={"a","b","c",'d'}
b={1,2,3,4}
c=a.union(b)
print(c)

{1, 2, 3, 'a', 4, 'b', 'd', 'c'}

In [28]:
## Min and Max function 

a={20,394,68,5,44}
print(max(a))
print(min(a))

394
5

In [31]:
## Return comman values in two set

a={20,394,68,5,44}
b={23,5,44,264,232}
print(a.intersection(b))

{44, 5}